<!--<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <a  class="nav-link text-dark" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
</ul>-->
  <div class="navbar-nav" *ngIf="isAuthenticated | async">
    <a class="nav-link text-white" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
  </div>
  <div class="navbar-nav" *ngIf="!(isAuthenticated | async)">
    <a class="nav-link text-white" [routerLink]='["/authentication/login"]' title="Logout">Login</a>
  </div>
